@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h2 class="pt-5">Read Light Novel And Web Novel Translation Online for FREE</h2>
    <h3>Your fictional stories hub</h3>    
    
    <h2 class="pt-5">New Ongoing Release</h2>
    <hr />
    <div class="row">
        @foreach (var item in Model.Novels)
        {
             <div class="col-2">
                 <a asp-page="/Novels/Index" asp-route-id="@item.Id" class="text-decoration-none text-white">
                    <div class="card bg-dark border-0 mt-4">
                        <img class="card-img-top" src="@item.ImageURL" alt="Card image cap" style="height:275px">
                        <div class="position-relative" style="height:100px">
                            <h6 class="card-title pt-1">@item.Title</h6>
                            <div class="position-absolute bottom-0">
                                <p class="card-text mb-0">Rank @item.Rank</p>
                                <p class="card-text p-0">@item.Chapters.Count Chapters</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


