@page
@model LightNovelPub.Pages.Chapters.ChapterModel
@{
   ViewData["Title"] = @Model.Chapter.Novel.Title;
}

<div class="container bg-dark rounded">
    <a asp-page="/Novels/Index" asp-route-id="@Model.Chapter.Novel.Id" class="text-decoration-none">
        <h2 class="text-primary">@Model.Chapter.Novel.Title</h2>
    </a>
    <h5>Chapter: @Model.Chapter.Title</h5>
    <hr />

    @foreach (var item in @Model.Chapter.Text.Split("\n"))
    {
        <p>@item</p>
    }

    <div class="d-flex justify-content-center">
        <form method="post">
            <input type="hidden" asp-for="NextChapterId" />
            <input type="hidden" asp-for="PrevChapterId" />
            <input type="hidden" asp-for="NovelId" />
            <button type="submit" class="btn btn-primary ms-3" style="width:90px" name="action" value="Previous" @(Model.DisablePrevBtn ? "disabled": "")>Previous</button>
            <button type="submit" class="btn btn-primary ms-3" style="width:90px" name="action" value="Home">Home</button>
            <button type="submit" class="btn btn-primary ms-3" style="width:90px" name="action" value="Next" @(Model.DisableNextBtn ? "disabled": "")>Next</button>
        </form>
    </div>
</div>