@using Core.Entities;
@model Novel
@{
    ViewData["Title"] = @Model.Title;
}

<div class="container bg-dark p-2 rounded">
    <div class="row">
        <div class="col-1">
            <img src="@Model.ImageURL" alt="Cover Picture" class="w-100" />
        </div>
        <div class="col position-relative">
            <h3 class="text-primary">@Model.Title</h3>
            <div class="position-absolute bottom-0">
                <h6>Updated 15 hours ago</h6>
                <h6>Status: Ongoing</h6>
            </div>
        </div>
    </div>
    <hr />
    <h5>@Model.Title Novel Chapters</h5>
    @foreach (var item in @Model.Summary.Split("\n"))
    {
        <p>@item</p>
    }

   
</div>

<div class="container bg-dark p-2 mt-3 rounded">
  <ol style="font-size:24px;grid-template-columns:repeat(2,minmax(0,1fr));display:grid" class="list-unstyled">
        @foreach (var item in Model.Chapters)
        {
                <li><a asp-controller="Chapters" asp-action="Chapter" asp-route-id="@item.Id" class="text-decoration-none text-white">@item.Title <hr /> </a></li>
        }
  </ol>
</div>
